:root {
    --black-black: #333333;
    --white-color: #f5f5f5;
    --purple-color: #6C63FF;

    --primary-font: "Roboto", sans-serif;
    --tertiary-font: "Kalam", cursive;
    --time-font: "Orbitron", sans-serif;
}

.hero-page{
    background-color: var(--white-color);
}

.hero-contents {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-text {
    font-size: 64px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: var(--purple-color);
    margin: 0;
    font-family: var(--time-font);
    font-weight: 900;
    padding-bottom: 20px;
}

.head-content {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--tertiary-font);
    color: var(--black-black);
    margin: 0;
    padding-bottom: 20px;
}

.convert-btn {
    padding: 10px 60px;
    background-color: var(--purple-color);
    color: var(--white-color);
    text-align: center;
    text-transform: capitalize;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    outline: none;
    border-radius: 12px;
    transition-duration: 0.4s ease;
    border: 1px solid var(--purple-color);
    text-decoration: none;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.convert-btn:hover {
    background: none;
    color: var(--purple-color);
    border: 1px solid var(--purple-color);
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-img {
    width: 300px;
    height: auto;
}

.clock {
    margin: 0;
    color: var(--purple-color);
    font-weight: 900;
    font-family: var(--primary-font);
}

.clock2 {
    margin: 0;
    color: var(--purple-color);
    font-weight: 900;
    font-family: var(--primary-font);
}

/* Custom Media Query */
/* small devices */
@media (max-width: 320px) {
    .hero-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .head-text {
        font-size: 30px;
    }

    .head-content {
        font-size: 12px;
    }

    .convert-btn {
        padding: 4px 8px;
    }

    .hero-img {
        margin-top: 20px;
        width: 100px;
        height: auto;
    }
}

@media (max-width: 576px) {
    .hero-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .head-text {
        font-size: 32px;
    }

    .head-content {
        font-size: 12px;
    }

    .convert-btn {
        padding: 5px 10px;
    }

    .hero-img {
        margin-top: 20px;
        width: 150px;
        height: auto;
    }
}

/* medium devices */
@media (max-width: 768px) {
    .hero-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .head-text {
        font-size: 38px;
    }

    .head-content {
        font-size: 18px;
    }

    .convert-btn {
        padding: 8px 16px;
    }

    .hero-img {
        margin-top: 20px;
        width: 200px;
        height: auto;
    }
}

/* large devices */
@media (max-width: 992px) {}

/* extra large devices */
@media (max-width: 1200px) {}